<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% extends "admin/base_site.html" %}
    %{% block breadcrumbs %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">

  <button class="navbar-toggler" type="buton" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="margin-left: 3%">

      <a class="nav-item nav-link active" href="/admin/database">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="../send_email">Send Renewals</a>
      <a class="nav-item nav-link" href="../renewals">Renewals</a>
      <a class="nav-item nav-link" href="">Import Data</a>
        <a class="nav-item nav-link" href="{% url 'admin:password_change' %}">Change Password</a>
        <a class="nav-item nav-link" href="{% url 'admin:logout' %}?next=/admin">Logout</a>
    </div>
  </div>
</nav>
    {% endblock %}
{% block content %}
<tr class="container">

    <!-- Current Members -->
    <div class="shadow p-3 mb-5 bg-white rounded col-md-12" class="rounded">
        {% if messages %}
        {% for message in messages %}
        <div>
            <strong>
                {{message|safe}}
            </strong>
        </div>
        {% endfor %}
        {% else %}
        <h1>CSV Upload Form</h1>
        {{ order }}
        <div>
            <form method="post" enctype="multipart/form-data">
        </div>
        {% csrf_token %}
        <div><label><strong>Upload a file:</strong></label>
            <input type="file" name="file">
            <h4>Only accepts .csv files</h4>
            <button class="btn btn-primary" type="submit">Upload</button>
            </form>
        </div>
        {% endif %}
    </div>
</tr>
{% endblock %}
