{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ form.media.css }}
    <meta charset="utf-8" />
  
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <link rel="stylesheet" href= "{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
   
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
  
    <title>Cascade Bicycle Club</title>
</head>


<body>
<div class=”main-container”>  
  <header class="header-section clearfix">		 
    <a href="https://www.cascade.org/" class="site-logo">
       <img src="{% static 'img/logo.png' %}" alt="">
     </a>
 </header>

  <section class="hero-section2">
      <div class="hs-item2">
				<div class="container">
					<div class="row">
						<div class="col-lg-6" id="landing-text">
							<div class="hs-text">
								<h2><span>Secure Bike Parking</span></h2>
								<h4> Looking to securely park your bike at a transit station? You've come to the right place. </h4>

                  
                <p>Cascade Bicycle Club manages King County Metro’s leased bike lockers at transit centers
                   across the county. We can set you up with an available locker and will collect and hold
                    your key deposit. Vacancies vary by location and openings change often. Reservable
                     lockers are most suited to people who need a guaranteed space at a specific location
                      where they plan to park their bike frequently, year-round, to catch transit.</p>
              </div>
              <div class='contact-us'>
                  <a href="#lease" class="lease-now">Lease Now!</a>
                </div>
              
            </div>
						<div class="col-lg-5">
							<div class="hr-img">
					      <img id="main-photo" src="{% static 'img/photo3.png' %}">
              </div>
            </div>
          </div>
          
				</div>
			</div>
  </section>

  <a name="lease">
  <section id="steps-section">
		<div class="container">
			<div >
				<div class="col-lg-6">
					<div class="section-title2">
						<h2>Leased Locker Sign Up:</h2>
					</div>
        </div>
        
        <div class = 'steps-text'>
        <div class="row">
          <div class="col-lg-3">
            <div class="concept-item">
              <img src="{% static 'img/find.png' %}" alt="">
              <h4>Find a locker </h4>
              <p>Locate a locker that you would like to lease below by filtering for the specific city’s transit locations.</p>

            </div>
          </div>

          <div class="col-lg-3">
            <div class="concept-item">
              <img src= "{% static 'img/pencil.png' %}" alt="">
              <h4>Fill out inquiry form </h4>
              <p>Select one or multiple locations that you are interested in. Cascade Bicycle Club will reach out with furthur steps to approve you for your locker! If there are no available spots, 
                you will be placed on the waitlist and notified when a spot is open. 
              </p>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="concept-item">
              <img src="{% static 'img/docs.png' %}" alt="">
              <h4>Sign agreement & pay deposit </h4>
              <p>Cascade Bicycle Club will send a lease. You’ll need to fill out,
                 sign, and return the lease along with a $50 key deposit.
                  The deposit will be refunded to you when the lease is terminated
                   and the key has been returned.
              </p>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="concept-item">
              <img src= "{% static 'img/bike.png' %}" alt="">
              <h4>Recieve your key and start biking</h4>
              <p>Once the onboarding process is finished you will 
                recieve your locker key in the mail and are ready to start using your locker!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </a>

  <section>
    <div class='filterBtn'>
       <select id="cities" role="option" aria-selected="true" id="exampleFormControlSelect1">
              <option value= 'Auburn'>Auburn</option>
              <option value='Bellevue'>Bellevue</option>
              <option value='Bothell'>Bothell</option>
              <option value='Burien'>Burien</option>
              <option value='Federal Way'>Federal Way</option>
              <option value='Issaquah'>Issaquah</option>
              <option value='Kenmore'>Kenmore</option>
              <option value='Kirkland'>Kirkland</option>
              <option value='Redmond'>Redmond</option>
              <option value='Renton'>Renton</option>
              <option value='Sammamish'>Sammamish</option>
              <option value='North Seattle'>Seattle (North)</option>
              <option value='Shoreline'>Shoreline</option>
              <option value='Tukwila'>Tukwila</option>
              <option value='Vashon Island'>Vashon Island</option>
              <option value='Woodinville'>Woodinville</option>
       </select>
       <input  class = 'filter-btn' type='submit' value='Submit' onclick='filterMarkers()'>
      
     </div>
  </section>




  <section id="mapFormSection">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7">
            <div id="mapid"></div> 
            <div id="sound-transit">
              <h2>Have trouble finding a location you wanted? </h2>
              <div id="locker-list-body">
                <div id="link-to-locker-list">
                  <p>Follow the link <a href="https://kingcounty.gov/depts/transportation/metro/travel-options/bike/parking/locations.aspx">here</a> to view all bike locker locations in King County.</p>
                </div>
                <p>Please note that this list is provided lists ALL bike locker locations in the county, including locations run by King County Metro (which are managed by Cascade Bicycle Club) and also locations run by Sound Transit which are not.
                 </p>
                 <p>If you are interested in a Sound Transit location, you will not be leasing through Cascade Bicycle Club and must follow their separate instructions.</p>
              </div>
            </div>
        </div>
        <div class="col-lg-5">
          <div id="custform" style="padding: 20px; align-content: center;">
            {% block content %}
            <h1>Bike Locker Customer Inquiry Form</h1>

            {% if submitted %}
              <p class="success">
                Your information was submitted successfully. 
              </p>
              <p class="success">
                We will reach out through email and phone regarding next steps. Thank you!
              </p>
        
        {% else %}
            <form action="" method="post" novalidate>
            <table>
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                      
                </tr>
            </table>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% endif %}
        {% endblock content %}
          </div>
      </div>
    </div>
  </div>
  </section>

  <section class="subscription-section spad set-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <div class="sub-text">
            <h2>Send a Maintenance Request</h2>
            <p>Is your bike locker in need of repair. Does the site need a power wash or graffiti cover-up?
                 Please use the maintenance request button to fill out our maintenance request
                  form.</p>
            <a href="maintenance_report/" class="Mainsite-btn">Maintenance Request</a>
          </div>
        </div>
        
      </div>
    </div>   
  </section>
</div>
<div class="clearfooter"></div>
<footer id="footer">
  <img src="{% static 'img/logo.png' %}" alt="">
  <ul>
  <li>bikelocker@cascade.org</li>
  <li>(206) 522-3222</li>
  <li>Cascade Bicycling Center, 
  7787 62nd Ave NE
  Seattle, WA 98115</li>
  </ul>
</footer>
<script src = "{% static 'marker.js' %}"></script>
{{ form.media.js }}
</body>
</html>