<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% extends "admin/base_site.html" %}
<tr class="container">

    {% load i18n admin_urls static %}
    { block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation
    %{% block breadcrumbs %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">

  <button class="navbar-toggler" type="buton" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="margin-left: 3%">

      <a class="nav-item nav-link active" href="/admin/database">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="send_email">Send Renewals</a>
      <a class="nav-item nav-link" href="renewals">Renewals</a>
      <a class="nav-item nav-link" href="customer_upload">Import Data</a>
        <a class="nav-item nav-link" href="{% url 'admin:password_change' %}">Change Password</a>
        <a class="nav-item nav-link" href="{% url 'admin:logout' %}?next=/admin">Logout</a>
    </div>
  </div>
</nav>
    {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    {% if locker_renewals %}
    {% if lr_under_2 %}

    <div class="shadow p-3 mb-5 bg-white rounded col-md-12" class="rounded">
        <table class="table table-bordered table-fixed">
            <thead>
            <tr><h1>Awaiting Renewal <em>(as of {% now "F j, Y" %})</em></h1>

                <th scope="col" style="width: 9.09%">First</th>
                <th scope="col" style="width: 9.09%">Last</th>
                <th scope="col" style="width: 9.09%">Address</th>
                <th scope="col" style="width: 9.09%">City</th>
                <th scope="col" style="width: 9.09%">State</th>
                <th scope="col" style="width: 9.09%">Zip</th>
                <th scope="col" style="width: 9.09%">E-mail</th>
                <th scope="col" style="width: 9.09%">CELL #1</th>
                <th scope="col" style="width: 9.09%">CELL #2</th>
                <th scope="col" style="width: 9.09%">Status</th>
                <th scope="col" style="width: 9.09%">Renewal</th>
                <th scope="col" style="width: 9.09%">Action</th>


            </tr>
            </thead>
            <tbody>
            {% for item in all_cust_lockers %}
            {% if item.is_under_2_weeks_past_due %}

            <tr>
                <td>{{ item.cust_id.cust_f_name }}</td>
                <td>{{ item.cust_id.cust_l_name }}</td>
                <td>{{ item.cust_id.cust_address }}</td>
                <td>{{ item.cust_id.cust_city }}</td>
                <td>{{ item.cust_id.cust_state }}</td>
                <td>{{ item.cust_id.cust_zip }}</td>
                <td><a href="{{ item.get_admin_url }}">{{ item.cust_id.cust_email }}</a></td>
                <td>{{ item.cust_id.phone_number }}</td>
                <td>{{ item.cust_id.phone_number2 }}</td>
                <td>{{ item.locker_id.locker_status_id.locker_status_name }}</td>
                <td>{{ item.renew_date }}</a></td>
                <td><a href="{{ item.get_admin_url }}"><i class="fa fa-edit"></i></a>
                    <a href="cust_locker/{{ item.pk }}/delete"><i class="fa fa-trash"></i></a>
                </td>


            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="shadow p-3 mb-5 bg-white rounded col-md-12" class="rounded">
        <h1>Renewal Process for KCM Bike Lockers</h1>
        <form method="POST" action="">{% csrf_token %}
            <div>
                <div>
                    <strong>To:</strong>
                    {% for item in all_cust_lockers %}
                    {% if item.is_under_2_weeks_past_due %}
                    {{ item.cust_id }}
                    {% endif %}
                    {% endfor %}

                    <select name="users" multiple style="display: none">
                        {% for item in emails %}
                        <option value="{{ user.id }}" selected>{{ item.cust_id.cust_f_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <p>{{ form.subject.errors }}</p>
                    <p>{{ form.subject.label_tag }}</p>
                    <p>{{ form.subject }}</p>
                </div>
                <div>
                    <p>{{ form.message.errors }}</p>
                    <p>{{ form.message.label_tag }}</p>
                    <p>{{ form.message }}</p>
                </div>
                <input name="form1" type="submit" value="{% trans 'Send message' %}"/>
            </div>
        </form>
    </div>
    {% endif %}

    {% if lr_over_2 %}
    <div class="shadow p-3 mb-5 bg-white rounded col-md-12" class="rounded">
        <table class="table table-bordered table-fixed">
            <thead>
            <tr><h1>Over 2 Weeks Past Due <em>(as of {% now "F j, Y" %})</em></h1>

                <th scope="col" style="width: 9.09%">First</th>
                <th scope="col" style="width: 9.09%">Last</th>
                <th scope="col" style="width: 9.09%">Address</th>
                <th scope="col" style="width: 9.09%">City</th>
                <th scope="col" style="width: 9.09%">State</th>
                <th scope="col" style="width: 9.09%">Zip</th>
                <th scope="col" style="width: 9.09%">E-mail</th>
                <th scope="col" style="width: 9.09%">CELL #1</th>
                <th scope="col" style="width: 9.09%">CELL #2</th>
                <th scope="col" style="width: 9.09%">Status</th>
                <th scope="col" style="width: 9.09%">Renewal</th>
                <th scope="col" style="width: 9.09%">Action</th>


            </tr>
            </thead>
            <tbody>
            {% for item in all_cust_lockers %}
            {% if item.is_2_weeks_past_due %}
            <tr>
                <td>{{ item.cust_id.cust_f_name }}</td>
                <td>{{ item.cust_id.cust_l_name }}</td>
                <td>{{ item.cust_id.cust_address }}</td>
                <td>{{ item.cust_id.cust_city }}</td>
                <td>{{ item.cust_id.cust_state }}</td>
                <td>{{ item.cust_id.cust_zip }}</td>
                <td><a href="{{ item.get_admin_url }}">{{ item.cust_id.cust_email }}</a></td>
                <td>{{ item.cust_id.phone_number }}</td>
                <td>{{ item.cust_id.phone_number2 }}</td>
                <td>{{ item.locker_id.locker_status_id.locker_status_name }}</td>
                <td>{{ item.renew_date }}</a></td>
                <td><a href="{{ item.get_admin_url }}"><i class="fa fa-edit"></i></a>
                    <a href="cust_locker/{{ item.pk }}/delete"><i class="fa fa-trash"></i></a>
                </td>


            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="shadow p-3 mb-5 bg-white rounded col-md-12" class="rounded">
        <h1>Renewal Process for KCM Bike Lockers (After 2 Weeks)</h1>
        <p>Follow up with people who give no response within 2 weeks. If you do not receive a response from them within
            2 weeks, then send the following response. The e-mail listing has been generated based on dates we have in
            our database.</p>
        <form method="POST" action="">{% csrf_token %}
            <div>
                <div><strong>To:</strong>
                    {% for item in all_cust_lockers %}
                    {% if item.is_2_weeks_past_due %}
                    {{ item.cust_id }}
                    {% endif %}
                    {% endfor %}
                </div>
                <div>
                    <p>{{ form2.subject.errors }}</p>
                    <p>{{ form2.subject.label_tag }}</p>
                    <p>{{ form2.subject }}</p>
                </div>
                <div>
                    <p>{{ form2.message.errors }}</p>
                    <p>{{ form2.message.label_tag }}</p>
                    <p>{{ form2.message }}</p>
                </div>
                <input type="submit" name="form2" value="{% trans 'Send message' %}"/>
            </div>
        </form>
    </div>
    {% endif %}

    {% else %}
    <div class="shadow p-3 mb-5 bg-white rounded col-md-12" class="rounded">
        There are no lockers up for renewal. <a href="../database">Back to main page.</a>
    </div>
    {% endif %}
    {% endif %}

</tr>

{% endblock %}



