<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends "admin/base_site.html" %}
{% block breadcrumbs %}
<head>
<title>Test</title>
    </head>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">

  <button class="navbar-toggler" type="buton" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="margin-left: 3%">

      <a class="nav-item nav-link active" href="/admin/database">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="send_email">Send Renewals</a>
      <a class="nav-item nav-link" href="renewals">Renewals</a>
      <a class="nav-item nav-link" href="customer_upload">Import Data</a>
        <a class="nav-item nav-link" href="{% url 'admin:password_change' %}">Change Password</a>
        <a class="nav-item nav-link" href="{% url 'admin:logout' %}?next=/admin">Logout</a>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
{% block userlinks %}
{% if user.is_active and user.is_staff %}
{% url 'django-admindocs-docroot' as docsroot %}
{% endif %}
{% if user.has_usable_password %}
{% endif %}
{% endblock %}
{% if user.is_authenticated %}

<div id="content">
        <!-- Add User -->
        <div class="row">
            <div class="p-1 event-panel">
                <input class="btn col-md-12" type="submit" onclick="window.location.href = 'inquiry/add/'" ;
                       value="Add User"/>
                <p></p>
                <div class="shadow p-3 mb-5 bg-white rounded" class="rounded">
                    <table class="table">

                        <!-- Locations Navigation -->
                        <tr>
                            <a href="location/"><h1>Locations</h1></a>
                                <!-- List locations -->
                        <tr><td><a href="?location=">All</a></td></tr>
                                {% for item in all_stations %}
                        <form method="GET" action="">
                        <tr class="">

                            <td><a href="?location={{ item.location_name }}">{{ item.location_name }}</a></td>
                            {% endfor %}
                        </tr>
                        </tbody>
                        </form>
                    </table>
                </div>
            </div>

            <tr class="container">

                <!-- Current Members -->
                <div class="shadow p-3 mb-5 bg-white rounded col-md-9" class="rounded">
                    {% if locker_renewals %}
                    <table class="table table-bordered table-fixed">
                        <thead>

                        <!-- Search Customer -->
                            <div class="">
                                <div class="form-row">
                                    <div class="form-group col-3">

                                        <div class="text-right">
                                        <form method="GET" action="">
                                            <div class="input-group mb-3">
                                                <input class="form-control border-right-0 tex" type="search"
                                                       placeholder="Search Customer" name="customer">
                                                <div class="input-group-append">
                                            <span class="input-group-text bg-transparent">
                                                <i class="fa fa-search"></i>
                                            </span>
                                                </div>
                                            </div>
                                        </form>
                                        </div>

                                    </div>
                                </div>

                        <tr><h1>Awaiting Renewal <em>(as of {% now "F j, Y" %})</em> <a href="send_email"><i
                                class="fa fa-envelope" aria-hidden="true"
                                style=" vertical-align: middle; font-size: 1rem;"></i></a></h1>

                            <th scope="col" style="width: 9.09%">First</th>
                            <th scope="col" style="width: 9.09%">Last</th>
                            <th scope="col" style="width: 9.09%">Address</th>
                            <th scope="col" style="width: 9.09%">City</th>
                            <th scope="col" style="width: 9.09%">State</th>
                            <th scope="col" style="width: 9.09%">Zip</th>
                            <th scope="col" style="width: 9.09%">E-mail</th>
                            <th scope="col" style="width: 9.09%">CELL #1</th>
                            <th scope="col" style="width: 9.09%">CELL #2</th>
                            <th scope="col" style="width: 9.09%">Status</th>
                            <th scope="col" style="width: 9.09%">Renewal</th>
                            <th scope="col" style="width: 9.09%">Action</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for item in all_cust_lockers %}
                        {% if item.is_past_due %}

                        <tr>
                            <td>{{ item.cust_id.cust_f_name }}</td>
                            <td>{{ item.cust_id.cust_l_name }}</td>
                            <td>{{ item.cust_id.cust_address }}</td>
                            <td>{{ item.cust_id.cust_city }}</td>
                            <td>{{ item.cust_id.cust_state }}</td>
                            <td>{{ item.cust_id.cust_zip }}</td>
                            <td><a href="mailto: {{ item.cust_id.cust_email }}" target="_blank">{{item.cust_id.cust_email }}</a></td>
                            <td>{{ item.cust_id.phone_number }}</td>
                            <td>{{ item.cust_id.phone_number2 }}</td>
                            <td>{{ item.locker_id.locker_status_id.locker_status_name }}</td>
                            <td>{{ item.renew_date }}</a></td>
                            <td><a href="{{ item.get_admin_url }}"><i class="fa fa-edit"></i></a>
                                <a href="cust_locker/{{ item.pk }}/delete"><i class="fa fa-trash"></i></a>
                            </td>


                        </tr>

                        {% else %}
                        {% endif %}
                        {% endfor %}
                        </tbody>
                        {% endif %}

                        <table class="table table-bordered table-fixed">
                            <thead>
                            <tr><h1>Current Members <a href="cust_locker/add/"><i class="fa fa-plus" aria-hidden="true"
                                                                                  style=" vertical-align: middle; font-size: 1rem;"></i></a>
                            </h1>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Address</th>
                                <th scope="col">City</th>
                                <th scope="col">State</th>
                                <th scope="col">Zip</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Cell #1</th>
                                <th scope="col">Cell #2</th>
                                <th scope="col">Status</th>
                                <th scope="col">Locker Location</th>
                                <th scope="col">Locker</th>

                                <th scope="col" style="width: 9.09%">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in all_cust_lockers %}

                            <tr>
                                <td>{{ item.cust_id.cust_f_name }}</a></td>
                                <td>{{ item.cust_id.cust_l_name }}</a></td>
                                <td>{{ item.cust_id.cust_address }}</a></td>
                                <td>{{ item.cust_id.cust_city }}</a></td>
                                <td>{{ item.cust_id.cust_state }}</a></td>
                                <td>{{ item.cust_id.cust_zip }}</a></td>
                                <td><a href="mailto: {{ item.cust_id.cust_email }}" target="_blank">{{ item.cust_id.cust_email }}</a></td>
                                <td>{{ item.cust_id.phone_number }}</td>
                                <td>{{ item.cust_id.phone_number2 }}</td>
                                <td>{{ item.locker_id.locker_status_id.locker_status_name }}</td>
                                <td><a href="{{ item.get_admin_url }}">{{ item.locker_id.location_id.location_name }}</a>
                                </td>
                                <td><a href="{{ item.get_admin_url }}">{{ item.locker_id.locker_name }}</a>

                                <td><a href="{{ item.get_admin_url }}"><i class="fa fa-edit"></i></a>
                                    <a href="cust_locker/{{ item.pk }}/delete"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>

                        <table class="table table-bordered table-fixed">
                            {% if all_inquiries %}
                            <thead>
                            <tr><h1>Waitlist <a href="location/add/"><i class="fa fa-plus" aria-hidden="true"
                                                                        style=" vertical-align: middle; font-size: 1rem;"></i></a>
                            </h1>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Address</th>
                                <th scope="col">City</th>
                                <th scope="col">State</th>
                                <th scope="col">Zip</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Cell #1</th>
                                <th scope="col">Cell #2</th>
                                <th scope="col">Desired Locations</th>
                                <th scope="col">Inquiry Date</th>
                                <th scope="col" style="width: 9.09%">Action</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% for item in all_inquiries %}
                            {% if item %}
                            <tr>
                                <td>{{ item.cust_id.cust_f_name }}</td>
                                <td>{{ item.cust_id.cust_l_name }}</td>
                                <td>{{ item.cust_id.cust_address }}</td>
                                <td>{{ item.cust_id.cust_city }}</td>
                                <td>{{ item.cust_id.cust_state }}</td>
                                <td>{{ item.cust_id.cust_zip }}</td>
                                <td><a href="mailto: {{ item.cust_id.cust_email }}" target="_blank">{{ item.cust_id.cust_email }}</a></td>
                                <td>{{ item.cust_id.phone_number }}</td>
                                <td>{{ item.cust_id.phone_number2 }}</td>
                                <td>{% for item in item.locations.all %}
                                    <div>{{ item }}</div>
                                    {% endfor %}
                                </td>
                                <td>{{ item.inquiry_date }}</td>
                                <td><a href="{{ item.get_admin_url }}"><i class="fa fa-edit"></i></a>
                                    <a href="location/{{ item.pk }}/delete"><i class="fa fa-trash"></i></a>
                                </td>


                            </tr>
                            {% else %}
                            <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                            <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                            <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                            <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                            <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                            <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                            <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                            <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                            <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                            <td>-</td>
                            <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                            {% endif %}
                        </table>

                        <table class="table table-bordered table-fixed">
                            <thead>
                            <tr><h1>Maintenances <a href="maintenance/add/"> <i class="fa fa-plus" aria-hidden="true"></i></a></h1>
                                <th scope="col">Location</th>
                                <th scope="col">Maintenance Type</th>
                                <th scope="col">Maintenance Scope</th>
                                <th scope="col">Maintenance Description</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in all_maintenance %}
                            {% if item %}
                            <tr>
                                <td><a href="{{ item.get_admin_url }}">{{ item.location_id.location_name }}</a></td>
                                <td><a href="{{ item.get_admin_url }}">{{ item.main_type_id.main_type_name }}</a></td>
                                <td><a href="{{ item.get_admin_url }}">{{ item.maintenance_scope }}</a></td>
                                <td><a href="{{ item.get_admin_url }}">{{ item.maintenance_description }}</a></td>
                                <td><a href="{{ item.get_admin_url }}">{{ item.start_date}}</a></td>
                                <td><a href="{{ item.get_admin_url }}">{{ item.end_date }}</a></td>
                                <td><a href="{{ item.get_admin_url }}">{{ item.main_status_id.main_status_name }}</a></td>
                                
                            {% else %}
                                <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                                <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                                <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                                <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                                <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                                <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                                <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                                <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                                <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                                <td>-</td>
                                <td><a href="{{ item.get_admin_url }}">N/A</a></td>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table> 
                </div>

        </div>
        </table>
    </div>
</div>


</div>
</div>
</div>
</div>

</div>
{% else %}
<p>Please <a href="{% url 'admin:login' %}">Log In!</a></p>
{% endif %}

{% block sidebar %}
{% endblock %}
{% endblock %}


